.intro {
  position: relative;
  width: 100vw auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: white;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 36px;
    color: black;
    position: relative;
    text-align: center;
  }

h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    color: black;
    position: relative;
    text-align: center;
}

h5 {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    color: black;
    position: relative;
    text-align: center;
}

h5:hover {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    position: relative;
    text-align: center;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-repeat: repeat;
    background-size: 400%;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    animation: rainbow 2s ease-in-out infinite;
}
p {
    font-family: courier,sans-serif;
    font-size: 16px;
    text-align: justify;
}

body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  overflow-x: hidden;
}
a:link {
    text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.text-box {
  max-width: 500px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
}

.gif {
  box-sizing: border-box;
  width: calc((100vw - 40px));
  height: calc((100vw - 40px) * 9 / 16);
  position: relative;
  overflow: hidden;
  max-height: calc((100vw - 40px) * 9 / 6);
  max-width: calc(100vw - 40px);
  margin: 20px auto;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

@keyframes rainbow {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}  

  /* Mobile styles */
  @media only screen and (max-width: 600px) {
    p {
      font-size: 14px;
      line-height: 1.5;
      text-align: justify;
    }
  }
  
  /* Tablet styles */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    p {
      font-size: 16px;
      line-height: 1.75;
      text-align: justify;
    }
  }
  
  /* Desktop styles */
  @media only screen and (min-width: 901px) {
    p {
      font-size: 18px;
      line-height: 2;
      text-align: justify;
    }
  }
